Assignement {
  background: $boost;
  margin: 1;
  padding: 1;
  width: 40;
  text-align: center;
}
ProgressBar {
  margin: 1;
}
#stats {
  margin: 1;
  padding: 1;
}

Container {
  max-height: 60%;
}
